h2{
  text-align: center;
  font-family: 'Pacifico', cursive;
}

table{
  margin: auto;
}

.colorbox{

  width:110px;
  height: 250px;
  border: 2px white;
  border-style: ridge;



}

#one{
  background-color: #F94144;



}

#two{
  background-color: #F3722C;

}

#three{
  background-color: #F8961E;

}

#four{
  background-color: #F9C74F;
}

#five{
  background-color: #90BE6D;
}

#six{
  background-color: #43AA8B;
}

#seven{
  background-color: #577590;
}
